*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
package-lock.json
coverage
node_modules
npm-debug.log
.tmp
api/node_modules
web/node_modules
